@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
        --color-body: #333;
        --color-blue:#0071E3;
        --color-blue-dark:#0066CD;

        /*TEXT*/
        --text-dark-1:#000;
        --text-dark-2:#222;
        --text-dark-3:#333;
        --text-dark-4:#444;
        --text-dark-5:#555;
        --text-dark-6:#666;
        
        /*GREYS*/
        --gray-1:#F8F8FA;
        
        /*CARD*/
        --card-border:#E6E6E6;
}
html{width: 100%; height: 100%; margin: 0; padding: 0;}
body {font-family: Inter, sans-serif; font-size: 16px; background-color:#fff; color: var(--color-body); font-weight: 400; line-height: 1.65; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: transparent; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; text-rendering: optimizeLegibility; font-optical-sizing: auto; font-style: normal; font-variation-settings:"slnt" 0; }
 

/*LINK FOCUS_______________________________________________________________________________________________*/ 
/*#########################################################################################################*/
a:focus, :focus {outline: 0  !important; box-shadow:none !important}
 

/*TRANSITIONS______________________________________________________________________________________________*/
/*#########################################################################################################*/
.btn, a, button, .transition { webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear; transition: all 300ms linear;}


/*FONTS____________________________________________________________________________________________________*/
/*#########################################################################################################*/
.body-font{font-family: Inter, serif;}
.heading-font{font-family: Inter, serif;}
 

/*SWIPER PAGINATION________________________________________________________________________________________*/
/*#########################################################################################################*/
.swiper-pagination{margin-top: 10px;}
.swiper-pagination-bullet{background-color: #999; opacity: 0.7;}
.swiper-pagination-bullet-active{background-color: var(--color-blue); opacity:1;}

.swiper-pagination.custom-pagination{position: relative; transform: none; width: 100%; text-align: center;}
.swiper-pagination.tp10 {padding-top: 10px;}
.swiper-pagination.tp15 {padding-top: 15px;}
.swiper-pagination.tp20 {padding-top: 20px;}
.swiper-pagination.tp25 {padding-top: 25px;}
.swiper-pagination.tp25 {padding-top: 25px;}
.swiper-pagination.tp30 {padding-top: 30px;}


/*SWIPER NAV BUTTONS_______________________________________________________________________________________*/
/*#########################################################################################################*/
.swiper-button-next, .swiper-button-prev,
.swiper-button-prev:after, .swiper-button-next:after{height: 36px; width: 36px;}

.swiper-button-next, .swiper-button-prev{z-index: 1;}
.swiper-button-prev:after, .swiper-button-next:after{font-size: 16px; color: #333; border: 1px solid #E6E6E6; opacity: 1; background-color: white;  display: flex; border-radius: 20px; justify-content: center; align-items: center; box-shadow: none; webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear; transition: all 300ms linear;}

.swiper-button-prev:hover:after, .swiper-button-next:hover:after{background-color: #E6E6E6; border: 1px solid #E6E6E6; color: black;}

/*TEXT WHITE TO LIGHT WHITE________________________________________________________________________________*/
/*#########################################################################################################*/
.text-white-5{color: rgb(255 255 255 / 5%)!important;} .text-white-10{color: rgb(255 255 255 / 10%)!important;} .text-white-20{color: rgb(255 255 255 / 20%)!important;} .text-white-25{color: rgb(255 255 255 / 25%)!important;} .text-white-30{color: rgb(255 255 255 / 30%)!important;} .text-white-35{color: rgb(255 255 255 / 35%)!important;} .text-white-45{color: rgb(255 255 255 / 45%)!important;} .text-white-50{color: rgb(255 255 255 / 50%)!important;} .text-white-55{color: rgb(255 255 255 / 55%)!important;} .text-white-60{color: rgb(255 255 255 / 60%)!important;} .text-white-65{color: rgb(255 255 255 / 65%)!important;} .text-white-70{color: rgb(255 255 255 / 70%)!important;} .text-white-75{color: rgb(255 255 255 / 75%)!important;} .text-white-80{color: rgb(255 255 255 / 80%)!important;} .text-white-85{color: rgb(255 255 255 / 85%)!important;} .text-white-90{color: rgb(255 255 255 / 90%)!important;} .text-white-95{color: rgb(255 255 255 / 95%)!important;}

/*TEXT BLACK TO LIGHT BLACK________________________________________________________________________________*/
/*#########################################################################################################*/
.text-black-5{color: rgb(0 0 0 / 5%)!important;} .text-black-10{color: rgb(0 0 0 / 10%)!important;} .text-black-20{color: rgb(0 0 0 / 20%)!important;} .text-black-25{color: rgb(0 0 0 / 25%)!important;} .text-black-30{color: rgb(0 0 0 / 30%)!important;} .text-black-35{color: rgb(0 0 0 / 35%)!important;} .text-black-45{color: rgb(0 0 0 / 45%)!important;} .text-black-50{color: rgb(0 0 0 / 50%)!important;} .text-black-55{color: rgb(0 0 0 / 55%)!important;} .text-black-60{color: rgb(0 0 0 / 60%)!important;} .text-black-65{color: rgb(0 0 0 / 65%)!important;} .text-black-70{color: rgb(0 0 0 / 70%)!important;} .text-black-75{color: rgb(0 0 0 / 75%)!important;} .text-black-80{color: rgb(0 0 0 / 80%)!important;} .text-black-85{color: rgb(0 0 0 / 85%)!important;} .text-black-90{color: rgb(0 0 0 / 90%)!important;} .text-black-95{color: rgb(0 0 0 / 95%)!important;}

/*TEXT GREY AND DARK_______________________________________________________________________________________*/
/*#########################################################################################################*/
.text-grey{ color: #6c757d;} .text-grey-dark{ color: #343a40;} .text-grey-10{ color: #f8f9fa;} .text-grey-20{ color: #e9ecef;} .text-grey-30{ color: #dee2e6;} .text-grey-40{ color: #ced4da;} .text-grey-50{ color: #adb5bd;} .text-grey-60{ color: #6c757d;} .text-grey-70{ color: #495057;} .text-grey-80{ color: #343a40;} .text-grey-90{ color: #212529;}

/*FONT WEIGHTS_____________________________________________________________________________________________*/
/*#########################################################################################################*/

.fw100{font-weight: 100!important;} .fw200{font-weight: 200!important;} .fw300{font-weight: 300!important;} .fw400{font-weight: 400!important;} .fw500{font-weight: 500!important;} .fw600{font-weight: 600!important;} .fw700{font-weight: 700!important;} .fw800{font-weight: 800!important;} .fw900{font-weight: 900!important;}

/*LETTER SPACING___________________________________________________________________________________________*/
/*#########################################################################################################*/
.lshalf{letter-spacing:0.5px} .ls1{letter-spacing:1px} .ls2{letter-spacing:2px} .ls3{letter-spacing:3px} .ls4{letter-spacing:4px} .ls5{letter-spacing:5px} .ls6{letter-spacing:6px} .ls7{letter-spacing:7px} .ls8{letter-spacing:8px} .ls9{letter-spacing:9px} .ls10{letter-spacing:10px}

/*LINE HEIGHT______________________________________________________________________________________________*/
/*#########################################################################################################*/
.lh100{line-height:100%} .lh120{line-height:120%} .lh130{line-height:130%} .lh140{line-height:140%} .lh150{line-height:150%} .lh160{line-height:160%} .lh170{line-height:170%} .lh180{line-height:180%} .lh190{line-height:190%} .lh200{line-height:200%}

/*FONT SIZE 0 to 72px _____________________________________________________________________________________*/
/*#########################################################################################################*/
.fs0{font-size: 0;} .fs7{font-size: 7px;} .fs8{font-size: 8px;} .fs9{font-size: 9px;} .fs10{font-size: 10px;} .fs11{font-size: 11px;} .fs12{font-size: 12px;} .fs13{font-size: 13px;} .fs14{font-size: 14px;} .fs15{font-size: 15px;} .fs16{font-size: 16px;} .fs17{font-size: 17px;} .fs18{font-size: 18px;} .fs19{font-size: 19px;} .fs20{font-size: 20px;} .fs21{font-size: 21px;} .fs22{font-size: 22px;} .fs23{font-size: 23px;} .fs24{font-size: 24px;} .fs25{font-size: 25px;} .fs26{font-size: 26px;} .fs27{font-size: 27px;} .fs28{font-size: 28px;} .fs29{font-size: 29px;} .fs30{font-size: 30px;} .fs31{font-size: 31px;} .fs32{font-size: 32px;} .fs33{font-size: 33px;} .fs34{font-size: 34px;} .fs35{font-size: 35px;} .fs36{font-size: 36px;} .fs37{font-size: 37px;} .fs38{font-size: 38px;} .fs39{font-size: 39px;} .fs40{font-size: 40px;} .fs41{font-size: 41px;} .fs42{font-size: 42px;} .fs43{font-size: 43px;} .fs44{font-size: 44px;} .fs45{font-size: 45px;} .fs46{font-size: 46px;} .fs47{font-size: 47px;} .fs48{font-size: 48px;} .fs49{font-size: 49px;} .fs50{font-size: 50px;} .fs51{font-size: 51px;} .fs52{font-size: 52px;} .fs53{font-size: 53px;} .fs54{font-size: 54px;} .fs55{font-size: 55px;} .fs56{font-size: 56px;} .fs57{font-size: 57px;} .fs58{font-size: 58px;} .fs59{font-size: 59px;} .fs60{font-size: 60px;} .fs61{font-size: 61px;} .fs62{font-size: 62px;} .fs63{font-size: 63px;} .fs64{font-size: 64px;} .fs65{font-size: 65px;} .fs66{font-size: 66px;} .fs67{font-size: 67px;} .fs68{font-size: 68px;} .fs69{font-size: 69px;} .fs70{font-size: 70px;} .fs71{font-size: 71px;} .fs72{font-size: 72px;}

/*OPACITY__________________________________________________________________________________________________*/
/*#########################################################################################################*/
.opacity0{opacity: 0;} .opacity1{opacity: 0.1;} .opacity2{opacity: 0.2;} .opacity3{opacity: 0.3;} .opacity4{opacity: 0.4;} .opacity5{opacity: 0.5;} .opacity6{opacity: 0.6;} .opacity7{opacity: 0.7;} .opacity8{opacity: 0.8;} .opacity9{opacity: 0.9;}




/*IMAGE ZOOM ON HOVER______________________________________________________________________________________*/
/*#########################################################################################################*/
.image-hover-zoom img {transform: scale(1); transition: all .3s ease;transform-style: preserve-3d;}
.image-hover-zoom:hover img {transform: scale(1.1);}

.image-hover-zoom2 img {transform: scale(1); transition: all .3s ease;transform-style: preserve-3d;}
.image-hover-zoom2:hover img {transform: scale(1.05);}

.image-hover-zoom3 img {transform: scale(1); transition: all .3s ease;transform-style: preserve-3d;}
.image-hover-zoom3:hover img {transform: scale(1.02);}

.img-zoom .image-hover-zoom{transform: scale(1); transition: all .3s ease;transform-style: preserve-3d;}
.img-zoom:hover .image-hover-zoom {transform: scale(1.1);}


/*CARD STYLE_______________________________________________________________________________________________*/
/*#########################################################################################################*/
.card-theme{border-radius: 12px; background-color: white; border: 1px solid var(--card-border); padding: 12px;}
.card-shadow{transform-style: preserve-3d;transition: all .3s ease;}
.card-shadow:hover{box-shadow: 2px 4px 12px #00000014;}

/*CARD SCALE_______________________________________________________________________________________________*/
/*#########################################################################################################*/
.card-scale-1{transform: scale(1); transition: all .3s ease;transform-style: preserve-3d;}
.card-scale-1:hover{transform: scale(1.01);}
.card-scale-2{transform: scale(1); transition: all .3s ease;transform-style: preserve-3d;}
.card-scale-2:hover{transform: scale(1.03);}


/*BUTTONS__________________________________________________________________________________________________*/
/*#########################################################################################################*/
.btn{border-radius: 10px; font-size:14px; font-weight: 400; letter-spacing: 0.4px; border-width: 2px; display: inline-flex; align-items: center; justify-content: center;}
.btn-sm{font-size: 13px; border-radius: 6px;}
.btn-lg{font-size: 15px; border-radius: 8px;}
.btn-xl{font-size: 16px; border-radius: 12px; padding-left: 32px; padding-right: 32px; padding-top: 12px; padding-bottom: 12px;}


/*BUTTON STYLES____________________________________________________________________________________________*/
/*#########################################################################################################*/
 

.btn-prime{background-color: var(--color-blue); border-color: var(--color-blue); color: #fff;}
.btn-prime:hover,.btn-prime:focus,.btn-dark:hover,.btn-dark:focus{background-color: var(--color-blue-dark)!important; border-color: var(--color-blue-dark)!important; color: #fff!important;}

.btn-outline-prime{background-color: transparent; border-color: var(--color-blue); color: var(--color-blue);}
.btn-outline-prime:hover,.btn-outline-prime:focus{background-color: var(--color-blue-dark)!important; border-color: var(--color-blue-dark)!important; color: #fff!important;}

/*SECTION BUTTON LG________________________________________________________________________________________*/
/*#########################################################################################################*/
.section-button-wrap{text-align: center;padding-top: 18px;}
.section-button-wrap .section-button-lg{min-width: 220px; height: 48px; border-radius: 12px;}    


/*SECTION TITLE HEADING____________________________________________________________________________________*/
/*#########################################################################################################*/
.section-heading{text-align: center; max-width: 860px; margin: 0 auto 20px; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 12px;}
.section-heading .section-heading__title{font-size: 36px; line-height: 1; margin-bottom: 0; font-weight: 600; color: black;}
.section-heading .section-heading__subtitle{font-size: 16px; letter-spacing: 0.2px; line-height:150%; color: var(--color-body); opacity: 0.8; max-width: 780px; margin: 0;}

/*SECTION TITLE HEADING WHITE______________________________________________________________________________*/
/*#########################################################################################################*/


/*BG-COLOR_________________________________________________________________________________________________*/
/*#########################################################################################################*/
.bg-gray-1{background-color: var(--gray-1);}

/*BORDER-COLOR_____________________________________________________________________________________________*/
/*#########################################################################################################*/


/*TEXT-COLOR_______________________________________________________________________________________________*/
/*#########################################################################################################*/



/*SECTION TOP BOTTOM PADDING_______________________________________________________________________________*/
/*#########################################################################################################*/
.section-vertical-padding{padding-top: 72px;padding-bottom: 88px;}





/*###########################################################################################################*/
/*###########################################################################################################*/
/*#######################################_________MAIN STYLES_________#######################################*/
/*###########################################################################################################*/
/*###########################################################################################################*/
 
.main-header {margin-top: 0; position: fixed; left: 0;right: 0;top: 0; z-index: 99; transform: translateY(0); transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);}
.main-header.header-visible{margin-top: 0;}
.main-header.header-visible .main-navbar{background-color: #000;}
.main-navbar {padding: 0; position: relative; z-index: 20;padding-top: 10px; padding-bottom: 10px;background-color: #000;}
.main-navbar .main-navbar__logo{width: 160px; height: auto; display: block;}
.main-navbar .navbar-nav{align-items: center;}
.main-navbar .nav-item{margin-left: 8px; margin-right: 8px;}
.main-navbar .nav-item .nav-link{color: #fff; font-size: 12px; font-weight: 300; letter-spacing: 0.4px; line-height: 1.3; padding-left: 8px!important; padding-right: 8px!important; display: inline-block;}
.main-navbar .nav-item .nav-link:hover{opacity: 0.8;}

.main-navbar .nav-item .nav-link.text-danger{color: #ff1500!important; font-weight: 900;}

.header-account{display: flex; flex-direction: row; align-items: center; justify-content: flex-end;}
.header-account__option{display: flex; flex-direction: row; gap: 36px; opacity: 1; transition: opacity .2s ease;}
.header-account__icon{width: 18px; height: 18px; display: inline-flex; justify-content: center; align-items: center;}
 
/*PRODUCT MEGA MENU*/
.dropdown-megamenu {position: absolute; top: 41px; width: 100%; margin: 0 auto; left: 0; right: 0; background-color: rgba(0, 0, 0, .95); backdrop-filter: saturate(180%) blur(30px); transform: scaleY(0); transform-origin: top; transform-style: preserve-3d; transition: all .2s ease; }
.dropdown-megamenu__content{}
.dropdown-megamenu__list-wrap{list-style: none;display: flex; flex-direction: row; justify-content: center; align-items: flex-start; gap: 32px; padding: 20px 0; }
.dropdown-menu__product{list-style: none;}
.dropdown-menu__product-link{display: flex; flex-direction: column; text-decoration: none; color: #fff; gap: 12px; align-items: center; text-align: center; padding: 8px; border-radius: 10px; }
.dropdown-menu__product-image{max-width: 100%; margin: 0 auto; display: block;}
.dropdown-menu__product-name{font-size: 11px; font-weight: 500; display: block; line-height: 1.4; color: #fff;}
.dropdown-menu__product-link:hover{color: #fff !important;}
.dropdown-menu__product-link:hover .dropdown-menu__product-image{transform: scale(1.05);}
.main-navbar .nav-item:hover .dropdown-megamenu{transform: scaleY(1);}


/*#########________HAMBURGER MENU BUTTON START________#########*/
.main-header .navbar-toggler{margin-left: 12px; padding: 0; outline: 0; color: transparent; background-color: transparent; border-color: transparent; height: 20px; width: 28px; align-items: center; justify-content: center;}
.main-header .navbar-toggler:focus,
.main-header .navbar-toggler:active{outline: 0;}
.main-header .navbar-toggler .navbar-toggler-icon{position: relative; height: 2px; background-color: transparent;background-image: none; width: 100%; border-radius: 4px; transition: 0.3s all ease-in-out; }
.main-header .navbar-toggler .navbar-toggler-icon:before,
.main-header .navbar-toggler .navbar-toggler-icon:after{content: ""; position: absolute; display: block; height: 2px; width: 100%; background-color: #fff; border-radius: 4px; transition: 0.3s all ease-in-out; }
.main-header .navbar-toggler .navbar-toggler-icon{background-color: #fff;}
.main-header .navbar-toggler .navbar-toggler-icon:before{top:-8px; transform: rotate(0);}
.main-header .navbar-toggler .navbar-toggler-icon:after{bottom:-8px; transform: rotate(0);}
body.navMenuOpen .main-header .navbar-toggler .navbar-toggler-icon{background-color: transparent;}
body.navMenuOpen .main-header .navbar-toggler-icon:before{top: 0; transform: rotate(45deg);}
body.navMenuOpen .main-header .navbar-toggler-icon:after{bottom: 0; transform: rotate(-45deg);}

@media (max-width: 1080px) {
    .main-navbar .nav-item{margin-left: 4px; margin-right: 4px;} 
    .main-navbar .nav-item .nav-link{font-size: 12px; padding-left: 4px!important; padding-right: 4px!important; line-height: 1.2;}
}

@media (max-width: 991.98px) {
    .main-navbar{ padding-top: 12px; padding-bottom: 12px;}
    .main-header .navbar-toggler{display: flex;}
    .header-account {justify-content: flex-end;gap: 16px;}
    .main-navbar .navbar-nav {display: flex; padding-top: 24px; margin-bottom: 60px; flex-direction: column; justify-content: space-between; align-items: flex-start;}
    .main-navbar .nav-item .nav-link{padding-top: 12px; padding-bottom: 12px; font-size: 16px;}
    .main-navbar .nav-item.menuIsOpen .nav-link {color: #fff; font-weight: 700;}

    /*PRODUCTS MEGAMENU RESPONSIVE*/
    .dropdown-megamenu{transform: scaleY(1); position: static; display: none;}
    .nav-item.menuIsOpen .dropdown-megamenu{display: block;}
    .dropdown-megamenu__list-wrap{flex-wrap: wrap;gap: 0; justify-content: flex-start;}
    .dropdown-menu__product {width: 33.33%; margin-bottom: 24px;}
    .dropdown-menu__product-image {height: auto;}

    /*OFF-CANVAS MOBILE NAVBAR*/
    body.navMenuOpen{overflow: hidden;}
    #mainNavbar {padding: 0 24px 24px; display: block; position: fixed; top: 52px; overflow-y: auto; height: calc(100vh - 52px); width: 420px; z-index: 300; left: auto; right: 0; bottom: 0; background-color: rgba(0, 0, 0, .95); backdrop-filter: saturate(180%) blur(80px); transition: transform 0.25s ease-in-out; transform: translateX(100%); }
    body.navMenuOpen #mainNavbar {transform: translateX(0); }

    body.navMenuOpen .header-account__option{opacity: 0;}
}

@media (max-width: 767.98px) {
    #mainNavbar {width: 100%; left: 0;}
    .main-navbar .navbar-nav {flex-direction: column; gap: 18px; justify-content: flex-start; align-items: center;}
    .main-navbar .nav-item, .main-navbar .nav-item .nav-link{display: block; text-align: center; width: 100%;}
    
    .header-account__option{gap: 28px;}
    /*PRODUCTS MEGAMENU RESPONSIVE*/
    .dropdown-menu__product {width: 25%;}

}

@media (max-width: 576.98px) {
    #mainNavbar {padding: 0 12px 12px;}
    .header-account {gap: 8px;}  
    .header-account__option{gap: 20px;}
}

/*###############################################################################################*/
/*################################_________HEADER SEARCH START_________##########################*/
/*###############################################################################################*/

.main-header .accout-shop-option .search-btn:focus {color: #fff;}
.main-header .search-wrapper--new {background: #333336; position: absolute; width: 100%; min-height: 72px; z-index: 2; -webkit-transform: translate(0, -100%); -ms-transform: translate(0, -100%); transform: translate(0, -100%); opacity: 0; z-index: 0; -webkit-transition: all 250ms ease-in-out; -moz-transition: all 250ms ease-in-out; -o-transition: all 250ms ease-in-out; -ms-transition: all 250ms ease-in-out; transition: all 250ms ease-in-out; }
body.isOpened .search-wrapper--new{-webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); opacity: 1; z-index: 10; }
.main-header .search-wrapper--new .dgwt-wcas-search-wrapp {max-width: 480px; margin: 0 20px 0 0; }
.main-header .search-wrapper--new .search-inner{max-width: 530px;}
.main-header .search-wrapper--new .dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input{background-color: #4e4e4e;color: #fff;border-radius: 8px; padding-left: 48px;}
.main-header .search-wrapper--new .dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:hover,
.main-header .search-wrapper--new .dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:focus,
.main-header .search-wrapper--new .dgwt-wcas-active .dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input,
.main-header .search-wrapper--new .dgwt-wcas-search-filled .dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input{background-color: #fff;color: #222;border-color: #666;}
.main-header .search-wrapper--new .dgwt-wcas-style-pirx.dgwt-wcas-has-submit .dgwt-wcas-search-submit svg path{fill: #a3a3a3;}
.main-header .search-wrapper--new .dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp {background: transparent;}
.main-header .search-wrapper--new .dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit{left: 12px;}
.main-header .search-wrapper--new .search-close {color: #ffffff; height: 51px; display: inline-flex; width: 50px; background: #939393; text-decoration: none; border-radius: 8px; flex-direction: column; justify-content: center; align-items: center; padding: 5px; }
.main-header .search-wrapper--new .search-close small {font-weight: 500; font-size: 10px; letter-spacing: 0.5px;}
.main-header .search-wrapper--new .dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp {padding: 10px 0;}
.dgwt-wcas-suggestion{text-decoration: none;}
.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:focus {background: #fff; outline: 0;}
/*###############################################################################################*/
/*################################_________HEADER SEARCH ENDS_________###########################*/
/*###############################################################################################*/


/*MESSAGE SECTION--------------------------------------------------------------------------------------------------*/
/*##############################################################################################################*/
.message-section{padding-top: 12px; padding-bottom: 12px; background-color: #fafafa; text-align: center;}
.message-section .message-content{line-height: 1.3; color: #222; font-size: 12px; font-weight: 600; color: #0071e3;}
.message-section .message-content a{text-decoration: none; font-weight: 500; color: #0071e3;}
.message-section .message-content a:hover{color: #0071e3; text-decoration: underline;}

/*HERO SECTION--------------------------------------------------------------------------------------------------*/
/*##############################################################################################################*/
.hero-link{display: block;}

/*CATEGORY SECTION-----------------------------------------------------------------------------------------------*/
/*###############################################################################################################*/
.category-section{padding-top: 4px;padding-bottom: 4px;}
.category-block{text-align: center; display: block; padding: 10px 16px; margin: 4px; text-decoration: none; color: black; border: 1px solid transparent; }
.category-block:hover{background-color: #fff; border-radius: 10px; border-color: #fdfdfd; box-shadow: 0 -1px 1px 0px rgb(0 0 0 / 8%),0 2px 2px 0px rgb(0 0 0 / 12%);}
.category-block__image img{max-width: 104px; height: auto;}
.category-block__title{font-size: 14px; font-weight: 500; margin-bottom: 0;} 

/*PRODUCT SECTION-----------------------------------------------------------------------------------------------*/
/*###############################################################################################################*/
.product-slider-wrapper{position: relative; padding-left: 20px; padding-right: 20px;}
.product-block{margin: 10px 8px; min-height: 430px; padding-bottom: 70px; background-color: white; position: relative; text-align: center; border-radius: 12px; border:1px solid var(--card-border);transform-style: preserve-3d;}
.product-block:hover{transform: scale(1.02) translateY(-3px); box-shadow: 2px 4px 12px #00000014;}
.product-block .product-block__image{padding: 8px 20px; margin-bottom: 0;}
.product-block .product-block__content{padding: 16px 16px 16px;}
.product-block .product-block__name{font-size: 16px; font-weight: 600; color: black; line-height: 1.4;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}
.product-block .product-block__price{font-size: 13px; color: #353535;}
.product-block .product-block__price del{font-weight: 400; opacity: 0.8;}
.product-block .product-block__price bdi{font-weight: 600; color: #000; text-decoration: none;}
.product-block .product-block__price span{font-weight: 500; color: #333;}
.product-block .product-block__cta{position: absolute;left: 0;right: 0;bottom: 0; padding: 16px;}
.product-block .product-block__btn{border-radius: 10px; padding-left: 20px; padding-right: 20px; padding-top: 6px; padding-bottom: 6px; color: #fff; text-decoration: none;}
.product-block .offer_price{font-size: 12px; color: #222; margin-bottom: 0;}
.product-block .offer_price ins{font-weight: 600; color: #111; text-decoration: none;}

/*CREATIVE SECTION-----------------------------------------------------------------------------------------------*/
/*###############################################################################################################*/
.creative-block {text-align: center; display: flex; flex-direction: column; gap: 32px; justify-content: space-between; background-color: white; border-radius: 12px;border:1px solid var(--card-border); overflow: hidden;transform-style: preserve-3d;}
.creative-block:hover{transform: scale(1.03) translateY(-3px); box-shadow: 2px 4px 12px #00000014;}
.creative-block__content {padding: 40px;}
.creative-block__title {font-size: 30px; font-weight: 700; line-height: 1.2; margin-bottom: 8px; color: #111;}
.creative-block__title-gradient {width: 100%; display: inline-block; -webkit-background-clip: text!important; -webkit-text-fill-color: transparent;}
.creative-block__description {font-size: 15px; color: #222; opacity: 0.8; line-height: 1.5; margin-bottom: 32px;}
.creative-block__product {font-size: 18px; font-weight: 600; color: black; margin-bottom: 4px;}
.creative-block__price {font-size: 13px; color: #353535; margin-bottom: 24px;}
.creative-block__price span{font-weight: 600;}
.creative-block__cta {padding: 14px 38px; font-size: 14px; font-weight: 500;}
.creative-block__image {}

.creative-block--1 .creative-block__title-gradient{background: linear-gradient( 110deg, #00bcd4 0%, #9c27b0 50%, #ff5722) 100%;}
.creative-block--2 .creative-block__title-gradient{background: linear-gradient( 110deg, #0072ff 0%, #6a11cb 50%, #ff00c8) 100%;}
.creative-block--3 .creative-block__title-gradient{background: linear-gradient( 110deg, #ff007f 0%, #a445b2 50%, #00c6ff) 100%;}

/*BEST SELLER SECTION--------------------------------------------------------------------------------------------*/
/*###############################################################################################################*/
.product-section--bestseller .product-block{min-height: 380px;}

/*USP SECTION----------------------------------------------------------------------------------------------------*/
/*###############################################################################################################*/
.shopusp-block{text-align: center; padding: 24px; max-width: 240px;}
.shopusp-block__icon{width: 48px;height: 48px;}
.shopusp-block__title{font-size: 18px; line-height: 1.2; font-weight: 600; color: black;}
.shopusp-block__description{font-size: 15px; line-height: 1.3; color: #444; margin-bottom: 0;}

/*FEATURED PRODUCT SECTION---------------------------------------------------------------------------------------*/
/*###############################################################################################################*/
.feature-wrap{padding-top: 16px;}
.feature-block {background-color: white; padding: 50px 24px 0; height: 100%;  position: relative; text-align: center; border-radius: 12px; border:1px solid var(--card-border); display: flex; gap:60px; flex-direction: column; align-items: center; justify-content: space-between;}
.feature-block:hover{box-shadow: 2px 4px 12px #00000014;}
.feature-block__content {max-width: 440px;}
.feature-block__title {font-size: 38px; color: black; font-weight: 700; margin-bottom: 12px;}
.feature-block__title i{opacity: 0.9;}
.feature-block__description {font-size: 16px; margin-bottom: 40px; letter-spacing: 0.4px; line-height: 1.3; color: var(--text-dark-3);}
.feature-block__feature {margin-bottom: 20px;}
.feature-block__feature-item {max-width: 120px; margin: 0 auto 20px;}
.feature-block__icon{width: 40px; height: 40px; margin-bottom: 18px;}
.feature-block__feature-text {font-size: 14px; line-height: 1.4; color: var(--text-dark-4);}
.feature-block__price {color: var(--text-dark-4); font-size: 16px;}
.feature-block__price span{font-weight: 600; color: var(--text-dark-3);}
.feature-block__cta {padding: 12px 38px; font-size: 15px;}
.feature-block__image {padding-left: 40px;padding-right: 40px;}



/*FIND STORES SECTION--------------------------------------------------------------------------------------------*/
/*###############################################################################################################*/
.store-block{text-decoration: none;}
.store-block__image{border-radius: 10px;}
.store-block__content{text-align: center;}
.store-block__title{font-size: 28px; line-height: 1.2; font-weight: 600; color: black;}
.store-block__text{font-size: 18px; line-height: 1.4; color: #444; margin-bottom: 24px;}
.store-block__btn{font-size: 14px; font-weight: 500; padding: 12px 32px; line-height: 1;}


/*SUPPORT AND SERVICE SECTION------------------------------------------------------------------------------------*/
/*###############################################################################################################*/
.servicesupport-block{text-decoration: none;}
.servicesupport-block__image{border-radius: 10px;}
.servicesupport-block__title{font-size: 20px; line-height: 1.2; font-weight: 600; color: black;}
.servicesupport-block__text{font-size: 15px; line-height: 1.4; color: #444; margin-bottom: 24px;}
.servicesupport-block__link{font-size: 14px; font-weight: 600; color: var(--color-blue); text-decoration: none;}
.servicesupport-block__link:hover{color: var(--color-blue-dark); text-decoration: underline;}


/*REVIEWS SECTION------------------------------------------------------------------------------------------------*/
/*###############################################################################################################*/
.review-slider-wrapper{padding-left: 20px; padding-right: 20px;}
.review-block{border-radius: 12px; margin: 12px 8px; min-height: 440px; gap: 40px;  border: 1px solid var(--card-border); background-color: white; padding: 40px; display: flex; justify-content: space-between; align-items: flex-start; flex-direction: column;}
.review-block:hover{box-shadow: 2px 4px 12px #00000014;}
.review-block__text{font-size: 16px; line-height: 1.5; color: var(--text-dark-2); font-weight: 400!important;}

.review-block__dquote{padding-bottom: 16px; opacity: 0.3;}
.review-block__dquote img{max-width: 40px;}
.review-block__user-info{gap: 20px;}
.review-block__photo{width: 64px; height: 64px; margin-bottom: 0;}
.review-block__user-name{font-size: 16px; font-weight: 600; letter-spacing: 0.2px;}
.review-block__star{font-size: 12px; display: flex; flex-direction: row; gap: 4px; color: #F8AA04;}


/*NEWSLETTER SECTION---------------------------------------------------------------------------------------------*/
/*###############################################################################################################*/
.site-footer{background-color: #303030;}
.newsletter-section{background-color: #272727; padding: 36px 0}

.footer-logo{max-width: 140px; display: inline-block;}
.newsletter-block{display: flex; align-items: center; gap: 16px; justify-content: flex-end;}
.newsletter-block__title{color: #fff; font-size: 17px; font-weight: 500; margin-bottom: 0;}
.newsletter-block__form{display: flex; align-items: center; gap: 12px; }
.newsletter-block__input{background-color: #414141; border-color: #676767;color: white; min-width: 330px; width: 100%;}
.newsletter-block__input::-webkit-input-placeholder {color: #C6C6C6;}
.newsletter-block__input::-moz-placeholder {color: #C6C6C6;}
.newsletter-block__input:-ms-input-placeholder {color: #C6C6C6;}
.newsletter-block__input:-moz-placeholder {color: #C6C6C6;}
.newsletter-block__input:focus{background-color: #353535; border-color: white; color: white;}
.newsletter-block__submit-button{background-color: white; border-color: white; padding: 22px 42px; font-weight: 500;}
.newsletter-block__input, .newsletter-block__submit-button{border-radius: 8px; height: 56px; font-size: 14px;}

.newsletter-block__submit-button:hover,
.newsletter-block__submit-button:focus{background-color: var(--color-blue); border-color: var(--color-blue); color: white;}



/*FOOTER SECTION-------------------------------------------------------------------------------------------------*/
/*###############################################################################################################*/
.footer-block{padding: 40px 0;}
.footer-block__title{font-size:14px; padding-bottom: 32px; margin-bottom: 20px; font-weight: 500; letter-spacing: 0.3px; color:white; position: relative; text-transform: uppercase; border-bottom: 1px solid #585858; display: flex; flex-direction: row; justify-content: space-between;}
.footer-block__plus-icon{height: 12px; width: 12px; padding: 5px; position: relative; display: none;}
.footer-block__plus-icon:before,
.footer-block__plus-icon:after{content: ""; position:absolute; background-color: white;}

.footer-block__plus-icon:before{height: 1px; width: 100%; left: 0; right: 0; top: 50%; transform: translateY(-50%);}
.footer-block__plus-icon:after{width: 1px; height: 100%; left: 50%; top: 0; bottom: 0; transform: translateX(-50%);}

.footer-block__content{}
.footer-block__link{display: flex; flex-direction: column; gap: 16px; list-style: none;}
.footer-block__link-item{font-size: 14px; opacity: 0.8; color:white; line-height: 1.5; letter-spacing: 0.3px; text-decoration: none; display: inline-block;}
.footer-block__link-item:hover{opacity: 1;}

/*FOOTER SOCIAL--------------------------------------------------------------------------------------------------*/
/*###############################################################################################################*/
.footer-info__block{border-color: #585858!important;}
.footer-social{display: flex; flex-direction: row; gap: 24px; align-items: center; padding-top: 32px; padding-bottom: 32px;}
.footer-social__title{font-size: 14px; font-weight: 500; letter-spacing: 0.3px; color: white; text-transform: uppercase; margin-bottom: 0;}
.footer-social__handles{font-size: 24px; display: flex; flex-direction: row; gap: 16px;}
.footer-social__handles a{color: white;}
.footer-social__handles a:hover{opacity: 0.8;}

.footer-offercall{font-size: 14px; color: white; margin-bottom: 0; letter-spacing: 0.3px;}
.footer-offercall a{font-weight: 600; color: white; text-decoration: none;}
.footer-offercall a:hover{border-bottom: 1px dotted #999;}

/*FOOTER COPYRIGHT-----------------------------------------------------------------------------------------------*/
/*###############################################################################################################*/
.copyright-block{color: white; opacity: 0.7; font-size: 13px; padding-top: 28px; padding-bottom: 28px;}


/*###########################################################################################################*/
/*###########################################################################################################*/
/*#####################################_________INNER PAGES CSS_________#####################################*/
/*###########################################################################################################*/
/*###########################################################################################################*/
 

/*###########################################################################################################*/
/*###########################################################################################################*/
/*#####################################_________MEDIAQUERIES CSS________#####################################*/
/*###########################################################################################################*/
/*###########################################################################################################*/


@media (max-width: 1399.98px) { ... }

@media (max-width: 1199.98px) {
     .servicesupport-block__content {
        padding-bottom: 24px;
     }
}

@media (max-width: 991.98px) {
    .newsletter-block {justify-content: flex-start;}
     
}
/* 991px - MEDIAQUERIES END ================================================================================*/

@media (max-width: 767.98px) { 
     .footer-logo{margin-bottom:32px;}
     .newsletter-block{flex-direction: column; align-items: flex-start;}
     .newsletter-block__title br{display: none;}

     /*PRDUCT SECTION*/
     .product-block .product-block {margin: 10px 8px; min-height: 320px;}

     /*FOOTER LINKS*/
     .footer-section {padding: 0;}
     .footer-block{padding: 0; border-bottom: 1px solid #585858;}
     .footer-block:first-child {border-top: 2px solid #585858;}
     .footer-block__title {padding-top: 28px; padding-bottom: 28px; margin-bottom: 0; border-bottom: 0;}
     .footer-block__content {padding-top: 0; padding-bottom: 24px; display: none;}
     .footer-block__plus-icon{display: flex;}
     .footer-block.isOpen .footer-block__plus-icon{transform: rotate(45deg);}

     /*FOOTER SOCIAL*/
     .footer-offercall{padding-bottom: 32px;}
}
/* 767px - MEDIAQUERIES END ================================================================================*/

@media (max-width: 575.98px) {
    .bg-gray-1 {background-color: #f5f5f7;}
    .section-vertical-padding {padding-top: 48px; padding-bottom: 48px;}
    .swiper-button-prev:after, .swiper-button-next:after{font-size: 13px;}
    .swiper-button-next, .swiper-button-prev, .swiper-button-prev:after, .swiper-button-next:after {height: 32px; width: 32px;}

    /*SECTION HEADING*/
    .section-heading{margin: 0 auto 20px; gap: 12px;}
    .section-heading .section-heading__title{font-size: 28px; line-height: 1.1;}
    .section-heading .section-heading__subtitle{font-size: 16px; line-height:130%;}
    
    /*CATEGORY SECTION*/         
    .category-section .container-xl {padding-left: 4px; padding-right: 4px;}
    .category-swiper .swiper-horizontal>.swiper-scrollbar, 
    .category-swiper .swiper-scrollbar.swiper-scrollbar-horizontal{height: 3px;}
    .category-swiper .swiper-button-prev{left: 4px;}
    .category-swiper .swiper-button-next{right:4px;}
    .category-block{padding:4px 12px; margin-bottom: 10px;}
    .category-block__image{margin-bottom: 12px!important}
    .category-block__image img {max-width: 96px;}

    /*PRODUCT SECTION*/
    .product-section .container-xl {padding-left: 4px; padding-right: 4px;}
    .product-slider-wrapper .swiper-button-prev{display: none;}
    .product-slider-wrapper .swiper-button-next{display: none;}
    .product-slider-wrapper{padding-left: 4px; padding-right: 4px;}
    .product-block{min-height: 320px; margin: 6px;}
    .product-block .product-block__image {padding: 0; margin-bottom: 0; min-height: 150px; max-height: 150px;}
    .product-block .product-block__name{font-size: 14px;}
    .product-block .product-block__content {padding: 8px;}
    .product-block .product-block__price{margin-bottom: 0;}
    .product-block .product-block__cta{padding: 10px;}
    .product-block .product-block__btn{width: 100%; padding-top: 12px; padding-bottom: 12px;}

    /*BEST SELLER*/
    .product-section--bestseller .product-block {min-height: inherit;}

    /*FEATURED SECTION*/
    .feature-block {background-color: white; padding: 32px 12px 0; gap: 32px;}
    .feature-block__feature{margin-bottom: 8px;}
    .feature-block__feature-item {max-width: inherit; margin: 0 auto 20px;}
    .feature-block__cta {padding: 16px 40px; font-size: 18px; width: 80%;}
    .feature-block__image {padding-left: 0; padding-right: 0;}
    .feature-block__image img {width: 100% !important; max-width: 100% !important;}

    /*USP SECTION*/
    .shopusp-block {padding: 12px; max-width: inherit;}

    /*SUPPORT AND SERVICES*/
    .supportsevice-section .container-xl{padding-left: 24px; padding-right: 24px;}

    /*REVIEW SLIDER*/
    .review-section .container-xl {padding-left: 4px; padding-right: 4px;}
    .review-slider-wrapper .swiper-button-prev{left: 0;}
    .review-slider-wrapper .swiper-button-next{right:0;}
    .review-slider-wrapper{padding-left: 4px; padding-right: 4px;}

    /*NEWSLETTER SECTION*/
    .newsletter-block{align-items: stretch;}
    .newsletter-block__form{flex-direction: column;}
    .newsletter-block__input{}
    .newsletter-block__input, .newsletter-block__submit-button{width: 100%;}

    .footer-block__title{font-size:12px;}
    .footer-social__handles{font-size: 20px; gap: 18px;}
}
/* 576px - MEDIAQUERIES END ================================================================================*/
